@layer component {
  .news {
    padding: 6rem 2rem;
    background-color: var(--color-background-muted); // Gray background

    .container {
      max-width: 80rem;
      margin: 0 auto;

      .newsList {
        border-top: 0.0625rem solid var(--color-border-muted);
      }

      .ctaWrapper {
        text-align: center;
        margin-top: 4rem;
      }
    }
  }
}
