@layer widgets {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2.5rem;

    @media (max-width: 48rem) {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      gap: 1.5rem;
    }

    @media (max-width: 30rem) {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
}
